## EDA IOWA Dataset 04 - Creating a Brand Column

**Status:** PUBLIC Distribution <br>

**Author:** Jaume Manero IE<br>
**Date created:** 2021/02/1<br>
**Last modified:** 2024/01/30 <br>
**Description:** Fixing missing values

How to create a support column with brand

In [1]:
import pandas as pd
import numpy as np
import time
%matplotlib inline

In [2]:
def seconds_to_hms(seconds):
    hours = seconds // 3600
    minutes = (seconds % 3600) // 60
    seconds = seconds % 60
    return hours, minutes, seconds

In [3]:
start_time = time.time()   # it takes some time we have almost 30 million rows

file = 'Iowa_Liquor_Sales.csv'
file = 'Iowa_Liquor_Sales_NOV23.csv'
#file = 'Iowa_Liquor_Sales_NOV23(cleaned).csv'
df = pd.read_csv(file, header=0)

C:\Users\manero\AppData\Local\Temp\ipykernel_27404\3752131120.py:6: DtypeWarning: Columns (6,14) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file, header=0)

In [4]:
df.dtypes

Invoice/Item Number       object
Date                      object
Store Number               int64
Store Name                object
Address                   object
City                      object
Zip Code                  object
Store Location            object
County Number            float64
County                    object
Category                 float64
Category Name             object
Vendor Number            float64
Vendor Name               object
Item Number               object
Item Description          object
Pack                       int64
Bottle Volume (ml)         int64
State Bottle Cost        float64
State Bottle Retail      float64
Bottles Sold               int64
Sale (Dollars)           float64
Volume Sold (Liters)     float64
Volume Sold (Gallons)    float64
dtype: object

In [5]:
df.columns

Index(['Invoice/Item Number', 'Date', 'Store Number', 'Store Name', 'Address',
       'City', 'Zip Code', 'Store Location', 'County Number', 'County',
       'Category', 'Category Name', 'Vendor Number', 'Vendor Name',
       'Item Number', 'Item Description', 'Pack', 'Bottle Volume (ml)',
       'State Bottle Cost', 'State Bottle Retail', 'Bottles Sold',
       'Sale (Dollars)', 'Volume Sold (Liters)', 'Volume Sold (Gallons)'],
      dtype='object')

In [11]:
df['Category Name'].value_counts().reset_index()

                      Category Name    count
0                   AMERICAN VODKAS  2689408
1                 CANADIAN WHISKIES  2647904
2         STRAIGHT BOURBON WHISKIES  1753470
3                        SPICED RUM  1345021
4                   WHISKEY LIQUEUR  1275703
..                              ...      ...
98                    IMPORTED GINS       17
99          IMPORTED VODKA - CHERRY       14
100               IMPORTED WHISKIES       12
101  DELISTED / SPECIAL ORDER ITEMS        1
102               AMERICAN WHISKIES        1

[103 rows x 2 columns]

In [12]:
df['Vendor Name'].value_counts().reset_index()

                                         Vendor Name    count
0                                    DIAGEO AMERICAS  4556964
1                                    JIM BEAM BRANDS  2534574
2                               SAZERAC COMPANY  INC  1953748
3                                 HEAVEN HILL BRANDS  1491976
4                                          LUXCO INC  1341564
..                                               ...      ...
588  SC DISTILLATION LLC / VILLAGE GARAGE DISTILLERY        1
589                                PARK STREET-G'DAY        1
590                             BROADSLAB DISTILLERY        1
591                              ICONIC BRANDS, INC.        1
592                             NESTOR IMPORTS, INC.        1

[593 rows x 2 columns]

In [14]:
brands = df['Item Description'].value_counts().reset_index()

In [21]:
# how to list only burnett's - create dataframe with burnett's rows
substring = 'Burnett'  # careful you have burnett and burnett's .... cleanse before :-)
sr = df[df['Item Description'].str.contains(substring, case=False)]
sr

,Invoice/Item Number,Date,Store Number,Store Name,Address,City,Zip Code,Store Location,County Number,County,...,Item Number,Item Description,Pack,Bottle Volume (ml),State Bottle Cost,State Bottle Retail,Bottles Sold,Sale (Dollars),Volume Sold (Liters),Volume Sold (Gallons)
143,INV-10262000049,02/07/2018,2594,HY-VEE FOOD STORE / SIOUX CITY,4500 SERGEANT ROAD,SIOUX CITY,51106.0,POINT (-96.346969 42.447396),97.0,WOODBURY,...,35418,BURNETT'S VODKA 80 PRF,6,1750,9.48,14.22,6,85.32,10.50,2.77
328,INV-10132400009,01/31/2018,2623,HY-VEE FOOD STORE #4 / SIOUX CITY,2827 HAMILTON BLVD,SIOUX CITY,51104.0,POINT (-96.417783 42.519886),97.0,WOODBURY,...,41316,BURNETTS RASPBERRY VODKA,12,750,4.48,6.72,12,80.64,9.00,2.38
384,INV-10136500005,01/31/2018,5317,CASEY'S GENERAL STORE # 2653 / TOLEDO,113 HWY 30 WEST,TOLEDO,52342.0,POINT (-92.580235 41.98633),86.0,TAMA,...,35416,BURNETT'S VODKA 80 PRF,12,750,4.48,6.72,12,80.64,9.00,2.38
1010,INV-10068700001,01/29/2018,4184,FAREWAY STORES #998 / MUSCATINE,2100 CEDAR PLAZA DR,MUSCATINE,52761.0,POINT (-91.08192400000001 41.435264),70.0,MUSCATINE,...,35416,BURNETT'S VODKA 80 PRF,12,750,4.48,6.72,12,80.64,9.00,2.38
1020,INV-10142400012,02/01/2018,2626,HY-VEE DRUGSTORE / UNIVERSITY / DSM,4100 UNIVERSITY AVE,DES MOINES,50311.0,POINT (-93.673222 41.600361),77.0,POLK,...,35416,BURNETT'S VODKA 80 PRF,12,750,4.48,6.72,6,40.32,4.50,1.19
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27710546,INV-10121000113,01/31/2018,2501,HY-VEE #2 / AMES,640 LINCOLNWAY,AMES,50010.0,POINT (-93.619455 42.022848),85.0,STORY,...,41413,BURNETT'S PINEAPPLE,12,750,4.48,6.72,12,80.64,9.00,2.38
27710583,INV-10151200013,02/01/2018,4604,PIT STOP LIQUORS / NEWTON,"1324, 1ST AVE E",NEWTON,50208.0,POINT (-93.035654 41.699173),50.0,JASPER,...,35416,BURNETT'S VODKA 80 PRF,12,750,4.48,6.72,1,6.72,0.75,0.20
27710706,INV-10079100004,01/30/2018,2527,HY-VEE FOOD STORE #5 / DES MOINES,1107 SE ARMY POST RD,DES MOINES,50315.0,POINT (-93.602372 41.526289),77.0,POLK,...,35416,BURNETT'S VODKA 80 PRF,12,750,4.48,6.72,12,80.64,9.00,2.38
27710719,INV-10117900005,01/31/2018,3514,KAREN'S SPIRITS AND WINE,328 2ND AVE S,FORT DODGE,50501.0,POINT (-94.192501 42.502311),94.0,WEBSTER,...,35418,BURNETT'S VODKA 80 PRF,6,1750,9.48,14.22,6,85.32,10.50,2.77
27710835,INV-10094500042,01/30/2018,4106,HARTIG DRUG COMPANY #3/JFK,2255 JOHN F KENNEDY RD,DUBUQUE,52002.0,POINT (-90.72051800000001 42.511352),31.0,DUBUQUE,...,41316,BURNETTS RASPBERRY VODKA,12,750,4.48,6.72,2,13.44,1.50,0.40

In [22]:
brands = sr['Item Description'].value_counts().reset_index()
brands

                   Item Description  count
0            BURNETT'S VODKA 80 PRF  45491
1              BURNETTS VODKA 80PRF  20484
2          BURNETT'S GIN LONDON DRY  10789
3          BURNETTS RASPBERRY VODKA   7194
4            BURNETT'S CHERRY VODKA   5387
..                              ...    ...
130  BURNETT'S  PEAR FLAVORED VODKA      1
131       BURNETT'S VODKA MINIATURE      1
132               BURNETT'S  ORANGE      1
133        BURNETT'S  PINK LEMONADE      1
134   BURNETT'S PEAR FLAVORED VODKA      1

[135 rows x 2 columns]

In [41]:
def remove_first_name(name):
   a = name
   return a.split(' ', 1)[1]

# Create a column with Burnett's product without burnett's name
sr1 = sr.copy()
sr1['brand name'] = sr['Item Description'].copy().apply(remove_first_name)

In [42]:
sr1['brand name']

143            VODKA 80 PRF
328         RASPBERRY VODKA
384            VODKA 80 PRF
1010           VODKA 80 PRF
1020           VODKA 80 PRF
                 ...
27710546          PINEAPPLE
27710583       VODKA 80 PRF
27710706       VODKA 80 PRF
27710719       VODKA 80 PRF
27710835    RASPBERRY VODKA
Name: brand name1, Length: 154458, dtype: object

In [43]:
import session_info
session_info.show(html=False)

-----
numpy               1.26.0
pandas              2.0.3
session_info        1.0.0
-----
IPython             8.15.0
jupyter_client      8.1.0
jupyter_core        5.3.0
-----
Python 3.10.13 | packaged by Anaconda, Inc. | (main, Sep 11 2023, 13:15:57) [MSC v.1916 64 bit (AMD64)]
Windows-10-10.0.22631-SP0
-----
Session information updated at 2024-01-30 19:42